.main
{
	display:flex;
	flex-direction:column;
	margin-top:10px;
	margin-bottom:10px;
}
.main .header
{
	display:flex;
	flex-direction:column;
	background-color:black;
}
.main .header .text1
{
	height:40px;
	width:150px;
	background-color:white;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.main .header .text2
{
	height:30px;
	width:80px;
	background-color:gray;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.main .body
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	background-color:white;
	justify-content:center;	
}
.main .body .text
{
	height:200px;
	width:300px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.main .footer
{
	display:flex;
	/*flex-direction:column;*/
	background-color:black;
	/*padding-left:600px;*/
	justify-content:center;
}
.main .footer .text
{
	height:30px;
	width:80px;
	background-color:gray;
	margin:5px;
}